rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Open access for initial setup & data verification
    match /{document=**} {
      allow read, write: if true;
    }
  }
}